.btn {
  background: #f3663f;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  padding: 0px 24px;
  cursor: pointer;
  border-style: none;
  height: 84px;
}
.btn-blue {
  background-color: #18214d;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  cursor: pointer;
  border-style: none;
  margin-left: 10px;
  margin-right: 20px !important;
  margin-bottom: 10px;
}
